# - IDE Ignores
# -----------------------------------------
.idea

# - OS Ignores
# -----------------------------------------
.DS_Store

# - Bower Ignores
# -----------------------------------------
bower_components