<div class="page-header">
    <h1>Destroy @foo</h1>
</div>

<form data-bind="with: model">

    <div class="row">

        <div class="col-md-8">

            <table class="table table-hover table-bordered">

                <thead>
                <tr>
                    <th>ID</th>
                    <th data-bind="text: $data.id"></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>@one</th>
                    <td data-bind="text: $data.one"></td>
                </tr>
                <tr>
                    <th>@two</th>
                    <td data-bind="text: $data.two"></td>
                </tr>
                <tr>
                    <th>@three</th>
                    <td data-bind="text: $data.three"></td>
                </tr>
                </tbody>

            </table>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">

                    <p>Are you sure about destroying @foo?</p>

                    <div class="pull-left"></div>

                    <div class="pull-right">

                        <button class="btn btn-default" data-bind="click: $parent.doCancel">No</button>
                        <button class="btn btn-danger" data-bind="click: $parent.doDestroy">Yes</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>