<div class="page-header">
    <h1>Show @foo</h1>
</div>

<div class="row">

    <div class="col-md-8">

        <table class="table table-hover table-bordered" data-bind="with: model">

            <thead>
            <tr>
                <th>ID</th>
                <th data-bind="text: $data.id"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>@one</th>
                <td data-bind="text: $data.one"></td>
            </tr>
            <tr>
                <th>@two</th>
                <td data-bind="text: $data.two"></td>
            </tr>
            <tr>
                <th>@three</th>
                <td data-bind="text: $data.three"></td>
            </tr>
            </tbody>

        </table>

    </div>

    <div class="col-md-4">

        <div class="panel panel-default" data-bind="with: model">
            <div class="panel-body">

                <div class="pull-left"></div>

                <div class="pull-right">

                    <a class="btn btn-default" data-bind="attr: { href: '#/@foo' }">Cancel</a>
                    <a class="btn btn-primary" data-bind="attr: { href: '#/@foo/edit/' + $data.id }">Edit</a>

                </div>

            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Would you like to destroy @foo?
                    <a class="text-danger" data-bind="attr: { href: '#/@foo/destroy/' + $data.id }">Yes!</a>
                </li>
            </ul>

        </div>

    </div>

</div>